.modal-form-group {
    margin-bottom: 20px;
}

.modal__subtitle {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.modal-form__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--phone-color);
}

.modal-form__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form__field {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--timing-function);
    &:focus {
            outline-color: var(--accent-color);
        }
}


.modal-form__field:not(:placeholder-shown):invalid:required {
    outline-color: rgb(234, 0, 51);
    box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
    box-shadow: unset;
}

.modal-form__field:not(:placeholder-shown):valid:required {
    outline-color: rgb(47, 167, 0);
    box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
    box-shadow: unset;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--timing-function);
}

.modal-form__field:focus+.modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    font-size: 12px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--timing-function);

    resize: none;
    &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
    outline-color: var(--accent-color);
    }
}



.modal-form__group {
    &--flexible {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--phone-color);
    
        }
}

.modal-form__agreement-desc {
    font-size: 14px;
    user-select: none;
    margin-left: 8px;
}

.modal-form__agreement-link {
    color: var(--accent-color);
    text-underline-offset: 2px;
}


.modal-form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form__agreement {
    display: flex;
    align-items: center;
}

.modal-form__icon-check {
    display: block;
    fill: var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 2px solid var(--main-color);

    transition: border-color var(--timing-function), fill var(--timing-function),
        background-color var(--timing-function), border var(--timing-function),
        box-shadow var(--timing-function);
}

.modal-form__checkbox:checked+.modal-form__icon-check {
    border: none;
    fill: var(--primary-color);
    background-color: var(--accent-color);
}

.modal-form__checkbox:focus~.modal-form__icon-check {
    box-shadow: 0 0 0 0.1em var(--accent-color);
}

.modal-form__checkbox:checked:focus~.modal-form__icon-check {
    box-shadow: 0 0 0 0.1em #7cd41f;
}


.modal-form__submit-button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background: var(--button-submit-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border-color: transparent;
}