.team {
    @extend %section;
}

.team__title {
    @extend %title;
}

.team {
    background: #F5F4FA;
}

.team__list {
    display: flex;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-color);
}


.team__item:not(:first-child) {
    margin-left: 30px;

}

.team-member__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-member__post {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--phone-color);
}